@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@400..700&family=Fredoka:wght@300..700&family=Tangerine:wght@400;700&display=swap');

:root {
    --header-height: 3rem;

    /* colors */
    --first-color: rgb(156, 93, 223);
    /* --first-color: #6e57f3; */
    --first-color: #806bfa;
    /* --first-color: #5865f2; */
    /* --first-color-dark: #5c11dd; */
    --first-color-dark: #752cf2;
    --text-color: #867a7c;
    --first-color-light: #867a7c;
    --first-color-lighten: #FBF9F9;

    /* font */
    --body-font: "Fredoka", sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .928rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* font weight */
    --font-medium: 100;
    --font-semi-bold: 200;
    --font-bold: 300;

    /* margins */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    /* z-index */
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

.circular-element {
    position: relative;
    width: 170px;
    height: 170px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 50%;
    /* Makes the div circular */
    /* background-image: url('../img/home__background.jpg'); */
    background-color: black;
    /* Add your image URL here */
    background-size: cover;
    /* Ensures the image covers the entire element */
    background-position: center;
    /* Centers the background image */
    margin: 18px;
    /* Adds some margin for visibility */
    display: flex;
    justify-content: center;
    align-items: center;

}

.circular-element::before {
    content: '';
    position: absolute;
    top: -5px;
    /* Adjusts the border's position to be slightly outside the element */
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 50%;
    border: 3px solid transparent;
    /* Path to your image */
    border-bottom-color: var(--first-color-dark);
    /* Color of the rotating border */
    /* animation: rotateBorder 2s linear infinite; */
    /* Animates the border */


}




@keyframes rotateRing {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateBorder {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width:768px) {
    :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1.05rem;
        --small-font-size: .885rem;
        --smaller-font-size: .82rem;

    }
}

/* BASE */

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    /* background-color: var(--first-color-lighten); */
    background-color: black;
    color: var(--text-color);
    line-height: 1.6;
    /* background-image: url('../img/black_bg.jpg'); */
    font-weight: 400;
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
}

h2,
h3 {
    font-weight: var(--font-semi-bold);
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* class css */
.section {
    padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
    text-align: center;
    color: var(--first-color)
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    color: rgb(255, 255, 255);
    margin-bottom: var(--mb-3);
}

.section-subtitle {
    display: block;
    font-size: var(--small-font-size);
    font-weight: var(--font-bold);
}

/* layout */
.bd-container {

    max-width: 1024px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
    justify-content: center;
    align-items: center;
}

.divider {
    border: 0;
    height: 1px;
    background: var(--first-color);
    margin-top: var(--mb-4);
    margin-bottom: var(--mb-4);
}

.bd-grid {
    display: grid;
    gap: 1.5rem;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #000;
    background-image: url('../img/home__background.jpg');
}

/* nav */
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.125rem;
    padding-top: 1.125rem;
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding-top: 1.5rem;
        text-align: center;
        background-color: #000;
        transition: .4s;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
        border-radius: 0 0 1rem 1rem;
    }

    /* 
    .portfolio__content {
        width: 300px;
    }

    .portfolio__container {
        justify-content: center;
    } */
    .home__social svg {
        transform: translateY(12px);
        /* Example adjustment */
    }

}



.nav__item {
    margin-bottom: var(--mb-3);
}

.nav__link {
    font-size: large;
    color: var(--first-color-lighten);
    transition: .3s;
}

.nav__link:hover {
    color: var(--first-color-light);
}

.nav__logo {
    font-weight: bold;
}

.nav__logo,
.nav__toggle {
    color: var(--first-color-lighten);
}

.nav__toggle {
    font-size: 1.3rem;
    cursor: pointer;
}

.show-menu {
    top: var(--header-height);
}

.active-link {
    position: relative;
}

.active-link::after {
    content: '';
    position: absolute;
    bottom: -.7rem;
    left: 0;
    width: 65%;
    height: 3px;
    background-color: var(--first-color-light);
}

.scroll-header {
    /* background-color: var(--first-color-lighten); */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle,
.scroll-header .nav__link {
    /* color: var(--first-color-dark); */
}

.scroll-header .nav__menu {
    /* background-color: var(--first-color-lighten); */
}

/* scroll top */
.scrolltop {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background: rgba(123, 111, 113, .7);
    border-radius: .5rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    /* visibility: hidden; */
}

.scrolltop:hover {
    background-color: var(--first-color);
}

.scrolltop__icon {
    font-size: 2rem;
    color: var(--first-color-lighten);
}

/* show scroll top */
.show-scroll {
    visibility: visible;
    bottom: 1.5rem;
}

/* home */
.home {
    background-color: #000;
    overflow: hidden;
    /* background: linear-gradient(to bottom, #4B007D 0%, #2A003E 50%, #12001E 100%); */
    /* background-image: url(../img/black_bg.jpg); */


}

.home__container {
    position: relative;
    height: calc(100vh - var(--header-height));
    grid-template-rows: repeat(2, max-content);
    align-content: space-around;
    row-gap: 2rem;
}

.home__data {
    border-left: 4px solid var(--first-color-light);
    color: var(--first-color-lighten);
    padding-left: 1.5rem;
    z-index: var(--z-tooltip);
    margin-bottom: 3rem;
    margin-right: 5rem;
}

.home__name {
    font-size: var(--biggest-font-size);
    font-weight: 'normal';
}

.home__greeting,
.home__profession {
    font-size: larger;
    display: block;
    font-weight: var(--font-bold);
    color: var(--first-color);
}

.home__greeting {
    margin-top: 2rem;
    font-size: 2.5rem;
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
}

.home__profession {
    font-size: 1.15rem;
    margin-bottom: var(--mb-3);

}

.home__img {
    /* position: absolute; */
    right: 0;
    bottom: 200px;
    z-index: var(--z-tooltip);
    height: 240px;
    width: 240px;


}

.home__img p {
    text-align: center;
    font-size: var(--small-font-size);
}


.home__gold {
    color: #FFCC00;
    /* text-align: center; */
    display: inline;
}

.home__red {
    /* color: #990000; */
    color: #e01414;
    /* text-align: center; */
    display: inline;
    font-weight: 500;

}

.home__img img {
    width: 240px;
    height: 240px;
    object-fit: contain;


}

.home__social {
    display: flex;
    align-items: center;
    /* Aligns items vertically in the center */
    flex-direction: row;
    /* Ensures items are in a horizontal line */

}

.home__social-icon {

    width: max-content;
    font-size: 2.3rem;
    margin-bottom: var(--mb-2);
    color: var(--first-color-lighten);
}


.home__social-icon:hover {
    color: var(--first-color-dark);
}

.home__shooting-star {
    position: absolute;
    bottom: 100%;
    width: 3px;
    /* Width of the shooting star */
    height: 100px;
    /* Length of the shooting star's tail */
    background: linear-gradient(transparent, rgb(185, 178, 178));
    /* Tail effect */
    filter: drop-shadow(0 0 6px rgb(190, 179, 179));
    /* Glowing effect */
    animation: shoot 2s ease-in-out infinite;
}

@keyframes shoot {
    0% {
        transform: translateX(0) translateY(0) rotate(300deg);
        opacity: 1;
    }

    100% {
        transform: translateX(500px) translateY(500px) rotate(300deg);
        opacity: 0;
    }
}

/* Example stars with different delays and durations */
.home__star1 {
    top: 100px;
    left: -10px;
    animation-duration: 1.5s;
    animation-delay: 1s;
}

.home__star2 {
    left: 200px;
    animation-duration: 1.5s;
    animation-delay: 2s;
}

.home__star3 {
    left: 300px;
    animation-duration: 1.5s;
    animation-delay: 0s;
}

.home__star4 {
    top: 400px;
    left: -10px;
    animation-duration: 1.5s;
    animation-delay: 3s;
}

.home__star5 {
    left: 1000px;
    animation-duration: 1.5s;
    animation-delay: 2s;
}

.home__star6 {
    left: 600px;
    animation-duration: 1.5s;
    animation-delay: 0s;
}

/* undo */
.sparkle {
    position: absolute;
    width: 5px;
    height: 5px;
    background: white;
    border-radius: 50%;
    opacity: 0;
    animation: sparkleAnimation ease-in-out infinite;
}

/* Randomly generate the sparkles */
@keyframes sparkleAnimation {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

/* Generate multiple sparkles with varying delays and durations */
/* You can add more for a denser effect */
.sparkle:nth-child(10n+1) {
    animation-duration: 1s;
    animation-delay: 0.5s;
}

.sparkle:nth-child(10n+2) {
    animation-duration: 1.5s;
    animation-delay: 1s;
}

.sparkle:nth-child(10n+3) {
    animation-duration: 2s;
    animation-delay: 1.5s;
}


/*  */
/*  */

/* buttons */
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    padding: .75rem 1rem;
    border-radius: .25rem;
    transition: .3s;
    background: linear-gradient(to bottom, #a256d6 0%, #691e8c 50%, #3f0b62 100%);
    background: linear-gradient(to bottom, #8d83ce 0%, #6d5ad7 50%, #705af0 100%);
    background: linear-gradient(to bottom, #7760f9 0%, #2c1f73 50%, #110c2d 100%);
    /* background: #000; */


    /* background-image: url('../img/home__background.jpg'); */
    margin-top: 2px;
    border-radius: 24px;
    border: none;

}

.portfolio__link {
    color: var(--first-color-dark);
}



.portfolio__link:hover {
    color: var(--first-color-lighten);



}

.portfolio__title:hover {
    color: var(--first-color);
    text-decoration: underline;

}


.button:hover,
.portfolio__button:hover {
    /* background-color: var(--first-color-dark); */

    background: linear-gradient(to bottom, #4B007D 0%, #2A003E 50%, #12001E 100%);

    background: linear-gradient(to bottom, #7760f9 0%, #2c1f73 50%, #110c2d 100%);
    background: linear-gradient(to bottom, #8d83ce 0%, #6d5ad7 50%, #705af0 100%);



}

.button-light {
    background-color: var(--first-color-light);
}

.button-white {
    background-color: var(--first-color-light);
    color: var(--first-color-dark);
}

.button-white:hover {
    background-color: var(--first-color-lighten);
}

.button-link {
    background: none;
    color: var(--first-color);
    padding: 0;
}

.button-link:hover {
    background: none;
}

/* qualification */

.qualification__container {
    row-gap: 2.5rem;
}

.qualification__title {
    font-size: var(--h3-font-size);
    color: var(--first-color-lighten);
    margin-bottom: var(--mb-2);
    align-items: center;
}

.qualification__title-icon {
    font-size: 1.5rem;
    margin-right: var(--mb-1);
}

.qualification__box {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--first-color);
}

.qualification__area {
    font-size: var(--normal-font-size);
    color: var(--first-color-lighten);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
}

.qualification__icon,
.qualification__work {
    font-size: var(--small-font-size);
    color: var(--first-color-light);
}

.qualification__work {
    display: block;
}

/* services */

.services__icon,
.services__title {
    margin-bottom: var(--mb-2);
    color: var(--first-color);
    color: rgb(199, 193, 193);
}

.services__title {
    font-size: var(--h2-font-size);
    text-align: center;
    margin: 6px;
}

/* portfolio */
.portfolio__nav {
    text-align: center;
    margin-bottom: var(--mb-6);
}

.portfolio__link {
    margin-top: .5rem;
    font-size: 1.5rem;
}

.portfolio__item {
    margin: 0 var(--mb-2);
    cursor: pointer;
    color: var(--first-color-lighten);
    font-size: var(--h3-font-size);
}

.portfolio__buttons {
    display: flex;
}

.portfolio__content {

    /* height: 400px;
    background-color: #FFF;
    border-radius: .5rem;
    overflow: hidden; */
    /* box-shadow: 0 4px 6px rgba(174, 190, 205, .3); */
    /* background: linear-gradient(to bottom, #4B007D 0%, #2A003E 50%, #12001E 100%);
    background: linear-gradient(to bottom, #5d48d5 0%, #2c1f73 50%, #110c2d 100%); */

}


.portfolio__content:hover {
    /* background: linear-gradient(to bottom, #a256d6 0%, #691e8c 50%, #3f0b62 100%);
    background: linear-gradient(to bottom, #8773fa 0%, #4c3ca7 50%, #1e1552 100%); */

}


.portfolio__img {
    width: 100%;
    height: 144px;
    transition: .4s;
    object-fit: fill;
    background-color: var(--first-color-lighten);
}

.portfolio__data {
    padding: .85rem;

}

.portfolio__subtitle {
    font-size: var(--small-font-size);
    font-weight: 200;
    color: var(--first-color-lighten);
}

.portfolio__description {
    font-size: small;
    color: var(--first-color-lighten);
    color: transparent;
    font-weight: 100;
}

.portfolio__title {
    font-size: 1.15rem;
    color: white;
    font-weight: var(--font-bold);
    margin: var(--mb-2) 0;
}

.portfolio__content:hover {
    /* box-shadow: 0 6px 8px rgba(174, 190, 205, .4); */
}

.portfolio__content:hover .portfolio__description {
    /* color: var(--first-color-lighten); */
}

/* .portfolio__content:hover .portfolio__title {
    font-size: var(--h2-font-size);
} */

​ .portfolio__content:hover .portfolio__img {
    /* transform: scale(1.02); */
}

.skills {
    margin-top: 5rem;
}

.skills {
    margin-top: 6rem;
}

.skills_title {
    color: var(--first-color);
    font-size: 2rem;

}

.skills_description span {
    /* color: var(--first-color-dark); */
    color: white;
    font-size: 1.075rem;
    font-weight: 100;


}

.skills_description {
    /* font-size: 1rem; */


}

/* active menu portfolios */
.active-portfolio {
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
}


/* carousel */

.carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
    /* margin-top: 6rem; */
    /* margin: auto;
    overflow: hidden; */
}

.carousel>ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.carousel__slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    /* display: flex; */
    /* transition: 200ms opacity ease-in-out;
    transition-delay: 200ms; */
}

.carousel__slide>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel__button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel__button:hover,
.carousel__button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel__button:focus {
    outline: 1px solid black;
}

.carousel__prevButton {
    left: 1rem;
}

.carousel__nextButton {
    right: 1rem;
}

.carousel__slide[data-active] {
    /* Set a fixed height */
    transition-delay: 0ms;
    z-index: 1;
    opacity: 1;
}

.carousel__navigation a {
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    color: white;
    background: #333;
}

/* Positioning the slides using :target */
#slide1:target~.slides {
    transform: translateX(0%);
}

#slide2:target~.slides {
    transform: translateX(-100%);
}

#slide3:target~.slides {
    transform: translateX(-200%);
}

/* flip cards */
.card__container {
    perspective: 1000px;
    /* Adds depth to the 3D effect */
    width: 250px;
    height: 345px;
    position: relative;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(174, 190, 205, .3);
}

.card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    /* Enables 3D transformations */
    transition: transform 0.6s;
}

.card__front,
.card__back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    /* Hides the back of the card when flipped */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.card__front {
    background: linear-gradient(to bottom, #a256d6 0%, #581776 50%, #32074f 100%);
    background: linear-gradient(to bottom, #1e1552 0%, #1a143c 50%, black 100%);
    /* background: black; */


}

.card__back {
    background: linear-gradient(to top, #430d66 0%, #15021e 50%, #14011d 100%);
    background: linear-gradient(to top, #5d48d5 0%, #2c1f73 50%, #110c2d 100%);


    /* background: linear-gradient(to top, #4B007D 0%, #2A003E 50%, #12001E 100%); */
    /* flips the card */
    transform: rotateY(180deg);
}

.card.flipped {
    transform: rotateY(180deg);
    /* Flips the card 180 degrees on the Y axis */
}

.card__subtitle {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 20px;

}

.card__gold {
    color: #FFCC00;
    display: inline;
    font-weight: 300;
}

.card__red {
    color: #e01414;

    color: #f05151;
    display: inline;
    font-weight: 350;
}

.card__back__title {
    font-size: 1.1;
}

.card__language {
    position: absolute;
    top: 0;
    margin-top: 20px;
    right: 0;
    margin-right: 20px;
    text-align: right;
    font-size: 1rem;
}


.card__assignments {
    left: 0;
    font-size: var(--smaller-font-size);
    font-weight: 100;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;

    margin-left: 1.15rem;
    margin-right: 1.15rem;
    margin-top: 1.15rem;
    /* left: 0;
    margin-left: 20px; */
}


.card__title {

    font-size: 2.15rem;
    /* position: absolute; */
    text-align: center;
    left: 0;
    margin: 20px;
    line-height: 1;
    word-break: break-all;
}

.carousel__assignmentBtnn {
    /* transform: translateX(-50%); */
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    background-color: black;
    /* border-bottom: 1px solid #fff; */
    /* box-shadow: 0 4px 6px rgba(174, 190, 205, .3); */

}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    top: 50px;
}

.footer__copy {
    font-size: var(--small-font-size);
    color: var(--first-color-light);
    margin-top: 20px;
}

@media screen and (min-width: 576px) {


    .home__img img {
        width: 330px;
    }

    .about__container,
    .qualification__container,
    .services__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .courses__container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .carousel {
        height: 0px;
        width: 0px;
    }

    .nav {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    #courses,
    .nav__courses {
        display: none;
    }


    .portfolio__content {
        /* width: 300px; */
    }

    .portfolio__container {
        /* justify-content: center; */
    }

    .home__social svg {
        transform: translateY(12px);
        /* Example adjustment */
    }



}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .section {
        padding-top: 6rem;
    }

    .section-title {
        margin-bottom: var(--mb-5);
    }

    .nav {
        height: calc(var(--header-height)+.5rem);
    }

    .nav__list {
        display: flex;
    }

    .nav__item {
        margin-left: var(--mb-5);
        margin-bottom: 0;
    }

    .nav__toggle {
        display: none;
    }

    .home__container {
        height: 100vh;
        grid-template-rows: max-content .5fr;
        align-content: flex-end;
    }



    .home__profession,
    .portfolio__title {
        font-size: 2rem;
    }

    .home__social {
        flex-direction: row;
        align-items: center;
    }

    .home__social-icon {
        margin-right: var(--mb-4);
        margin-bottom: 0;
    }


    .home__img img {
        width: 440px;
    }

    .about__description {
        text-align: initial;
    }

    .about__img {
        width: 300px;
    }

    .qualification__box {
        display: flex;
        justify-content: space-between;
    }

    .services__container {
        grid-template-columns: repeat(4, 1fr);
    }



}

@media screen and (min-width: 1024px) {
    .bd-container {
        top: 0;
        /* margin: 10px; */
        margin-left: auto;
        margin-right: auto;
    }

    .qualification__container {
        column-gap: 6rem;
    }

    .nav {
        /* margin-top: var(--mb-3); */
    }

    .nav__logo {
        font-size: larger;
    }

    .home__bio {
        display: flex;
        margin-bottom: -2rem;
        /* justify-content: center;
        align-items: center; */
    }

    .home__img {
        z-index: var(--z-tooltip);
        margin-left: 6rem;
    }


}



/*  */